#root {
  max-width: 1200px;
  align-items: center; 
   
}

.container {
    display: flex;
    flex-wrap: wrap;
  }

.card{
    align-items: center;
    margin: 1rem;
    border: 10px solid;
    justify-content: center;
}

.selectImage img {
  display: none;
}

.selectImage .imageSelected {
  display: block;
  margin: 0 0 0 6% ;
  position: relative;
  justify-content: center;
  align-items: center;
}



.txt-personajes{
  font-family: "poppins";
  font-size: 18px;
  font-weight: 450;
  font-style: oblique;
  margin: 20px 0;
  color:greenyellow;
}


p{
  margin: 12px;
}

